.cask/
.mc-lists.el
auto-save-list/
elpa
eshell
projectile-bookmarks.eld
projectile.cache
recentf
todo.org
smex-items
/abbrev_defs
/bookmarks
/games/snake-scores
/helm-adaptive-history
custom.el
/.DS_Store
/ac-comphist.dat
/ido.last
